@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lato&display=swap');

body {
    margin: 10%;
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    background-color: peachpuff
    
}

/* font-family: 'Caveat', cursive;
font-family: 'Lato', sans-serif;
